# Analysis of gene expression data

# I Data Retrieval
Data Retrieval was done using the RScript!

- Download Data (Thyroid cancer data)

In [1]:
from pyunpack import Archive
import glob,os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from collections import defaultdict

In [23]:
genes_C_id=pd.read_csv("TCGA-THCA/TCGA-THCA_rna_genes_C.txt",header=None)
genes_C_id.columns=['gene']
genes_N_id=pd.read_csv("TCGA-THCA/TCGA-THCA_rna_genes_N.txt",header=None)
genes_N_id.columns=['gene'] #they should both have same gene name column? :) ---remove one dataframe


patients_C=pd.read_csv("TCGA-THCA/TCGA-THCA_rna_patients_C.txt",header=None)
patients_C.columns=['patients']
patients_N=pd.read_csv("TCGA-THCA/TCGA-THCA_rna_patients_N.txt",header=None)
patients_N.columns=['patients']

genes_C=pd.read_csv("TCGA-THCA/TCGA-THCA_rna_expr_data_C.txt",sep=' ')


genes_N=pd.read_csv("TCGA-THCA/TCGA-THCA_rna_expr_data_N.txt",sep=' ')

# II

# Differentially expressed genes

## Which genes are differentially expressed?


**Fold Change**
A first criterion can be to identify the genes whose expression in the two
groups of samples considered varies by a certain proportion (doubles,
halves, ...)

ð‘“ð‘œð‘™ð‘‘ð‘â„Žð‘Žð‘›ð‘”ð‘’=$ð‘™ð‘œð‘”_2\frac{ð¸ð‘¥ð‘ð‘Ÿð‘ð‘œð‘›ð‘‘1}{ð¸ð‘¥ð‘ð‘Ÿð‘ð‘œð‘›ð‘‘2}$=2


Condition 1 - Normal

Condition 2 - Cancer


DOUBTS:

       -NEGATIVE VALUES??
 
 
      -log of zero gives inf

In [52]:
fold_df=np.log2(genes_C.sum(axis=1)/genes_N.sum(axis=1))
fold_df[fold_df>2]

ENSG00000000003    3.044875
ENSG00000000005    2.115433
ENSG00000000419    2.903912
ENSG00000000457    2.859956
ENSG00000000460    3.297684
                     ...
ENSG00000281904    3.144141
ENSG00000281909    2.933345
ENSG00000281910    4.467060
ENSG00000281912    2.336616
ENSG00000281920    3.948017
Length: 46962, dtype: float64

In [65]:
np.log2(505/101)

2.321928094887362

In [70]:
fold_sort_df=pd.DataFrame(fold_df)
fold_sort_df.columns=['fold_value']


#drop nan and inf
fold_sort_df.dropna(inplace=True)
fold_sort_df=fold_sort_df[(fold_sort_df.fold_value!=np.inf) & (fold_sort_df.fold_value!=-np.inf)]
fold_sort_df.sort_values(['fold_value'],ascending=False)

                 fold_value
ENSG00000147256   11.717796
ENSG00000122852   11.647417
ENSG00000198261   11.348668
ENSG00000206072   11.249732
ENSG00000156076   11.103655
...                     ...
ENSG00000222544   -2.890598
ENSG00000238707   -3.081601
ENSG00000222394   -3.159527
ENSG00000242339   -3.217455
ENSG00000224931   -7.344297

[50371 rows x 1 columns]

## Statistical tests
## Studentâ€™s t test for two conditions/groups (control vs treated)

## Which and how many genes are co expressed?